body {
  margin: 20px;
  padding: 2px;
}

header {
  /*background: #a6a9b6;*/
  background-image: url("../images/flywheel.jpg");
  padding-bottom: 2.4%;
  background-size: 100%;
  background-color: transparent;
  height: 230px;
}

.left {
  width: 20%;
  /*background: #3b6741;*/
  background-color: #969328;
  float: left;
  /*padding-top: 2%;*/
  padding-bottom: 25%;
  margin-right: 2%;
}

img {
  width: 75%;
  display: block;
  /*padding-left: 2%;*/
  border-width: medium;
  border-style: solid;
  border-color: black;
  margin: 10%;
  align-content: center;
}

section {
  background: #ffffff;
}

p {
  height: normal;
  letter-spacing: 1.5px;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

/*table {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  width: 50%;
}*/

td, tr {
  padding: 5px;
}

h1, h2 {
  /*color: #f6f6f6;*/
  font-variant-caps: small-caps;
  text-transform: uppercase;
  font-size: 35px;
}

h1 {
  margin-bottom: 3%;
  padding-top: 3%;
  color: #fbfbf9;
  text-align: center;
  font-size: 2.5rem;
  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
}

h2 {
  margin-top: 0;
  padding-top: 2%;
}

a {
  /*background: #e5e5e5;*/
  /*color: #290001;*/
  font-size: 1.3rem;
  font-weight: bolder;
}

nav a {
  margin-left: 10%;
  padding: 1.5% 4%;
  border-radius: 6%;
  text-decoration: none;
  background: #eef3ee30;
}

.active {
  color: red;
  background: #ffffff;
}